:root {
  --main-bg-color: #27293d;
  --main-text-color: ##f8f5f9;

  --second-bg-color: ##f8f5f9;
}

.rounded-full {
  border-radius: 100%;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding-left: 30px;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -15rem;
}

#mi-seccion {
  height: 300px; /* establece la altura del contenedor */
  overflow-y: scroll; /* agrega una barra de desplazamiento vertical */
}
